<header class="bg-white  shadow-xl sticky top-0 z-100">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12">
                <a class="text-teal-600 flex items-center justify-center space-x-3" href="#">
                    <span class="sr-only">Home</span>
                    <img src="logo.png" alt="logo" class="size-10 object-cover">
                    <h3 class="text-2xl text-neutral-600 font-bold">Book World</h3>
                </a>
            </div>

            <div class="md:flex md:items-center md:gap-12">
                <nav aria-label="Global" class="hidden md:block">
                    <ul class="flex items-center gap-6 text-md">
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Authors </a>
                        </li>

                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Categories </a>
                        </li>

                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> About </a>
                        </li>

                        <li class="cart">
                            <a class="text-gray-500 transition hover:text-gray-500/75 flex justify-center items-center gap-4"
                                href="#"> Cart
                                <div class="relative">
                                    <img src="books.svg" alt="books cart" class="size-8 cart">
                                    <span>{{user.cart.length}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="hidden md:relative md:block">
                    <button (click)="toggleDropMenu()" type="button"
                        class="overflow-hidden rounded-full border border-gray-300 shadow-inner">
                        <span class="sr-only">Toggle dashboard menu</span>

                        <img [src]="user.profilePicture" alt="" class="size-10 object-cover" />
                    </button>

                    <div id="dropmenu"
                        class="hidden absolute end-0 z-10 mt-0.5 w-56 divide-y divide-gray-100 rounded-md border border-gray-100 bg-white shadow-lg"
                        role="menu">
                        <div class="p-2">
                            @if (user.role === "admin") {
                            <a routerLink='/dashboard'
                                class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                                role="menuitem">
                                Dashboard
                            </a>
                            }
                            <a href="#"
                                class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                                role="menuitem">
                                My profile
                            </a>

                            <a href="#"
                                class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                                role="menuitem">
                                WishList
                            </a>

                            <a href="#"
                                class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                                role="menuitem">
                                Orders
                            </a>
                        </div>

                        <div class="p-2">
                            <button type="submit" (click)="logout()"
                                class="flex w-full items-center gap-2 rounded-lg px-4 py-2 text-sm text-red-700 hover:bg-red-50"
                                role="menuitem">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                                </svg>

                                Logout
                            </button>
                        </div>
                    </div>
                </div>

                <div class="block md:hidden">
                    <button class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>